# Google OAuth Client ID (from Google Cloud Console)
GOOGLE_CLIENT_ID=532566364339-ek243ne0jr7c7tef09jmncn4gc7b99vp.apps.googleusercontent.com

# JWT Secret Key (minimum 256 bits / 32 characters for HMAC-SHA256)
JWT_SECRET=v9y$B&E)H@MbQeThWmZq4t7w!z%C*F-JaNdRfUjXn2r5u8x/A?DGKaPdSgVkYp3s
